/*styles for assignment 3*/
html {
  margin: auto;
  width: 70%;
  padding: 5px;
  font-family: Verdana, sans-serif;
  font-size: 1em;
  background: black;
}

h1 {
  background: gray;
  padding: 50px;
  text-align: center;
  font-size: 3em;
  border-radius: 10px;
}

.normal {
  background: white;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  text-align: left;
}

form span {
  display: block;
  margin-bottom: 5px;
}

form label {
  display: block;
  margin: 5px;
}

